version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.10 
      #- image: circleci/python:3.6-node-browsers


    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: Install Serverless CLI and dependencies
          command: |
            sudo npm i -g serverless
            npm install
      - run:
          name: Install python3 and awscli
          command: |
            sudo apt-get -y -qq update
            sudo apt-get -y -qq install python-dev
            curl -O https://bootstrap.pypa.io/get-pip.py
            python get-pip.py --user
            pip-18.1 install awscli --upgrade --user
          #  sudo apt-get install pyhton3
          #  curl -O https://bootstrap.pypa.io/get-pip.py
          #  python3 get-pip.py
            

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-
        
      # run tests!
      - run: 
          name: Run tests with coverage
          command: npm test --coverage

      - run:
          name: Deploy application
          #command: sls deploy --stage pre
          command: aws s3 sync . s3://circle-production-static-site/docs/ --delete
